body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.validation-summary-errors {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    padding-bottom: 10px;
}

.highlightable-row:hover {
    cursor: pointer;
    border-color: darkblue;
    border-width: 1px;
    border-radius: 5px;
    background-color: #87cefa;
    background-color: rgba(135, 206, 250, 0.5);
}

.selected-row {
    cursor: pointer;
    border-color: darkblue;
    border-width: 1px;
    border-radius: 5px;
    background-color: #87cefa;
    background-color: rgba(135, 206, 250, 0.5);
}

/* Label inside border around inputs */
.form-group {
    padding: 10px;
    border: 1px solid;
    border-color: lightgray;
    margin: 10px;
}

.form-group > label {
    position: absolute;
    top: -14px;
    left: 20px;
    margin-bottom: -5px;
    height: 20px;
    background-color: white;
    max-width: none;
    font-weight: bold;
}

.form-group > input {
    border: none;
    max-width: none;
}

.form-control, .input-lg {
    height: 45px;
}

.table, .center {
    width: 75%;
    margin: auto;
}

.subtitle {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.syncStatusCell {
    width: 10px;
    padding: 0px !important;
    margin: 0px;
}

.syncStatusCell.saved {
    background-color: green;
}

.syncStatusCell.pending {
    background-color: yellow;
}

.syncStatusCell.error {
    background-color: red;
}

.gridActionCell {
    cursor: pointer;
    padding-left:0px;
    padding-right:0px;
}

.dynamicCell {
    vertical-align: middle !important;
}

.dynamicCell > label {
    margin-bottom: 0px;
}

.gridActionCell > img {
    padding-right: 5px
}

.hiddenIcon {
    display: none;
}

.inline.form-control{
    width:auto;
    margin:auto;
}