
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Receiving</h2>

<div class="container">
    <div class="row" style="text-align: center">
        <div class="col-sm-6">
            <img src="~/Content/images/invoice.png" alt="Supplier Invoice" style="width: 175px" />
        </div>
        <div class="col-sm-6">
            <img src="~/Content/images/rma-icon.png" alt="Customer Return" />
        </div>
    </div>
</div>

